<?xml version="1.0"?>
<configuration>  
  <configSections>
    <sectionGroup name="telerik.web.ui">
      <section name="radCloudUpload" type="Telerik.Web.UI.CloudUploadConfigurationSection" allowDefinition="MachineToApplication" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <telerik.web.ui>
    <radCloudUpload>
      <storageProviders>
        <add name="Amazon" type="MyNamespace.CustomAmazonProvider" accessKey="" secretKey="" bucketName="" uncommitedFilesExpirationPeriod="4" />
      </storageProviders>
    </radCloudUpload>
  </telerik.web.ui>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
</configuration>